
:root{
  --primary: "#E4C558";
  --secondary: "#383736";
  --contrastWhite: "#FCF9EE";
  --lightBlue: "#94B3E1";
  --hoverBlue: "#285FB1";
  --lightRed: "#E28B8B";
  --hoverRed: "#C22B2B";
  --bgRed: "#DA5656";
}
html,
body {
  
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #E4C558 ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #383736;

  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center {
  margin: auto;
  text-align: center;
}