.navButton{
  display: flex;
  justify-content: center;
  background-color: var(--contrastWhite);
  color: var(--secondary);
  border-radius: 25px;
  border: 1px solid var(--secondary);
  width: 250px;
  padding: 20px ;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  transition: .3s;
  text-align: center;
  cursor: pointer;
  margin-left: 25px;
  margin-right: 25px;
  &:hover{
    background-color: var(--primary);
    color: var(--contrastWhite);
    border: 1px solid var(--contrastWhite);

  }
  @media (max-width: 1200px){
    font-size: 13px;
    width: 150px;
  }
  @media (max-width: 620px){
    margin-left: 15px;
    margin-right: 5px;
    font-size: 10px;
    font-weight: bold;
    width: 120px;

  }

  a{
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: flex;
  }
}